<div class="container">
    <div class="row-sm-12">
        <br>
        <br>
        <br>
        <h2>CodeMirror Test</h2>
        <app-codemirror></app-codemirror>
        <br>
        <hr>
        <br>
        <h2>CodeMirror Test</h2>
        <app-codemirror></app-codemirror>
        <br>
        <hr>
        <br>
        <h2>SimpleMDE test</h2>
        <app-simplemde></app-simplemde>
        <br>
        <hr>
        <br>
        <h2>Text select test</h2>
        <app-text-select></app-text-select>
        <br>
        <hr>
        <br>
        <h2>QUILL test</h2>
        <app-quill></app-quill>
        <br>
        <hr>
        <br>
        <h2>SimpleMDE test2</h2>
        <app-simplemde [mentions]="mentions2"></app-simplemde>
        <br>
    </div>
</div>